<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drash: Static Assets</title>
    <link rel="stylesheet" href="/public/css/drashstatic.css" />
    <script src="/public/js/drashstatic.js"></script>
    <!-- <script> -->
    <!--   document.addEventListener("DOMContentLoaded", function () { -->
    <!--     const buttonElement = document.getElementById("button"); -->
    <!--     const paragraphElement = document.getElementById("text"); -->

    <!--     function clickHandler() { -->
    <!--       paragraphElement.innerText = Math.random().toString(32); -->
    <!--     } -->

    <!--     buttonElement.addEventListener("click", clickHandler); -->
    <!--   }); -->
    </script>
  </head>
  <body>
    <div>
      <h1>Hello from Drash!</h1>
      <img src="/public/img/drash.svg" />
      <button id="button" type="button">
        Click to generate a random string
      </button>
      <p id="text"></p>
    </div>
  </body>
</html>
