<!-- Following TS Drag and Drop: https://github.com/gaylonalfano/typescript-complete-course/blob/master/drag-drop-project/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Search Tool</title>
    <link rel="stylesheet" href="/public/css/mystudents.css" />
    <script src="/public/js/mystudents.js"></script>
  </head>
  <body>
    <header>
      <div class="search-container">
        <h1>Student Search</h1>
        <form id="search-form">
          <div class="form-control">
            <label for="student-id">Student Id</label>
            <input
              type="text"
              id="student-id"
              name="student-id"
              required
              pattern="\d{7}"
              minlength="7"
              maxlength="7"
            />
          </div>
          <div class="form-control">
            <label for="grade">Grade</label>
            <input
              type="text"
              id="grade"
              name="grade"
              required
              pattern="[Pp][Kk]|[Pp][Ss]|[Kk]|\d{1,2}"
            />
          </div>
          <button id="search-button" type="button">Search</button>
        </form>
      </div>
    </header>

    <section class="search-result" id="search-result">
      <h1>Results will be displayed here.</h1>
    </section>
  </body>
</html>
