<!-- Following TS Drag and Drop: https://github.com/gaylonalfano/typescript-complete-course/blob/master/drag-drop-project/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Search Tool</title>
    <link rel="stylesheet" href="/public/css/mystudents.css" />
    <script src="/public/js/mystudents.js"></script>
  </head>
  <body>
    <div class="search-input">
      <form>
        <div class="form-control">
          <label for="student-id">Student Id</label>
          <input type="text" id="student-id" placeholder="2000000" />
        </div>
        <div class="form-control">
          <label for="grade">Grade</label>
          <input type="text" id="grade" placeholder="PS" />
        </div>
        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
